<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="All test suites">
            <directory>./test</directory>
        </testsuite>
        <testsuite name="Adapter mongo">
            <directory>./test/Norm/Test/Mongo</directory>
        </testsuite>
        <testsuite name="Adapter mysql">
            <directory>./test/Norm/Test/Mysql</directory>
        </testsuite>
        <testsuite name="Adapter sqlite">
            <directory>./test/Norm/Test/Sqlite</directory>
        </testsuite>
        <testsuite name="Adapter oracle">
            <directory>./test/Norm/Test/Oracle</directory>
        </testsuite>
        <testsuite name="Adapter OCI">
            <directory>./test/Norm/Test/OCI</directory>
        </testsuite>
    </testsuites>
</phpunit>
